/* font-family: 'Archivo', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Roboto Mono', monospace; */

/* --------- Global styles --------- */

html, body {
    margin: 0;
    padding: 0;
}

:root {

}

section {
    height: 80vh;
    /* position: relative; */
}

h1, h2 {
    font-family: 'Archivo Black', sans-serif;
}

h3, h4 {
    font-family: 'Archivo', sans-serif;
}

p {
    font-family: 'Roboto Mono', monospace;

}

body {
    display: inline-block;
}

/* --------- Navbar --------- */
nav {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3vh;
    color: var(--beaver);
    position: relative;
    overflow: hidden;
    background-color: orange;
}

nav a {
    text-decoration: none;
    color: var(--beaver);
}

nav a:hover {
    color: var(--reseda-green);
    font-weight: bold;
}

.navbar-logo {
    line-height: 0;
}

.navbar-menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-menu ul {
    list-style: none;
    display: flex;
}

.navbar-menu li {
    padding: 0px 10px;
}

/* nav img.logo {
    max-height: 4rem;
    flex-shrink: 0;
} */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* --------- Intro/Home section --------- */
section.home-container {
    display: grid;
    /* position: relative; */
    background-color: pink;
    
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    grid-template-columns: .5fr 1.5fr .2fr 1.5fr 0.5fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

section.home-container div#headshot { 
    grid-area: 3 / 2 / 4 / 3;
}
section.home-container div#name {
    grid-area: 3 / 4 / 4 / 5;
}

section.home-container img {
    display: block;
    height: 400px;
}

section.home-container h1 {
    font-size: 75px;
    margin-bottom: 5px;
    text-transform: lowercase; 
}

section.home-container h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: larger;
}


/* --------- Projects --------- */
.project-container div {
    /* position: relative; */
}

.project-container img {
    height: 300px;
}

/* --------- About me --------- */
.about-me-container div {
    /* position: relative; */
}

/* --------- Contact --------- */
.contact-container a {
    text-decoration: none;
}


/* --------- Footer --------- */